body  {
  background: url(../images/mustache-pattern-wallpaper.jpg)
}

.container {
  background: rgb(142, 147, 151);
  margin: 20px auto;
  overflow: auto;
  
}

h1,
h3 {
  text-align: center;
}

#start-trivia,
#results {
  background: antiquewhite;
  margin: 10px auto;
  padding: 10rem;
}

.multi-choice {
  /* margin-top: -1px; */
  /* vertical-align: middle; */
  margin: 5px;
  margin-left: 40%;
}